.option-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 14px 14px;
}

@media (max-width: 1024px) {
  .option-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 520px) {
  .option-grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}

/* @media (min-width: 1280px) {
  .option-grid {
    grid-template-columns: repeat(2, 1fr);
  }
} */
