.option-card {
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-image-wrapper {
  position: relative;
  background: #fffff2;
  border-radius: 20px;
  padding: 2px;
  width :130px;
  height: 110px;
  align-content: center;
  transition: all 0.25s ease;
}

.option-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.option-card:hover .option-image-wrapper {
  background: #ededeb;
}

.option-label {
  font-size: 15px;
  font-weight: 500;
}

.check-badge {
  position: absolute;
  top: 1px;
  right: 1px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #6f6f6f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
