.step-tabs {
  display: flex;
  gap: 25px;
}

.step {
  font-size: 20px;
  letter-spacing: 0.5px;
  cursor: pointer;
  padding-bottom: 6px;
  color: #777;
}

.step.active {
  color: #000;
  border-bottom: 2px solid #000;
}
